@using Kapa.Fluxor.Testing.Client.Components.TodoList
@inherits FluxorComponent
@page "/TodoList"

<Fluxor.Blazor.Web.StoreInitializer/>
<h3>TodoList</h3>

<CreateTodoListItem />

@if (TodoListState.Value == null) return;

@foreach (var todo in TodoListState.Value.TodoListItems)
{
    <TodoListItemDisplay Item="@todo" />
}